# use glob syntax
syntax: glob

# ignore patterns
.DS_STORE
.metadata/
bin/
gen/
.settings/org.eclipse.jdt.core.prefs
.settings/com.google.appengine.eclipse.core.prefs
.settings/com.google.gdt.eclipse.core.prefs
.settings/com.google.gwt.eclipse.core.prefs
